.wrapper {
  background-color: aquamarine;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 10% auto;
}
.title {
  color: navy;
  width: 460px
}
.game_board {
  background-color: goldenrod;
  display: grid;
  grid-template-columns: 110px 110px 110px 110px;
  grid-template-rows: 110px 110px 110px 110px;
  height: auto;
  width: 460px;
  justify-content:space-around;
  align-content: space-around;
}
.card {
  background-color: lavender;
  height: 100px;
  width: 100px;
  text-align: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  align-items: center;
}
.flipped{
  color: lavender;
}
