.wrapper {
  background-color: aquamarine;
  width: 500px;
  margin: auto;
}
.title {
  color: navy;
  width: 300px;
  float:left;
  margin-top: 3vh;
  text-align: center;
}
.timer{
  float:left;
  width: 200px;
  text-align: center;
  margin-top: 3vh;
}
.score_board{
  width: 200px;
  float: left;
  text-align: center;
}
.game_board {
  background-color: goldenrod;
  display: grid;
  grid-template-columns: 110px 110px 110px 110px;
  grid-template-rows: 110px 110px 110px 110px;
  height: auto;
  width: 460px;
  justify-content:space-around;
  align-content: space-around;
  margin: auto;
}
.card {
  background-color: lavender;
  height: 100px;
  width: 100px;
  text-align: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  align-items: center;
}
.flipped{
  color: lavender;
}
